@import "tailwindcss";

@theme {
  --color-snitap-sun: #ffcd1e;
  --color-snitap-sky-mid: #06b6d4;
  --color-snitap-sky-light: #67e8f9;
  --color-snitap-joy-mid: #db2777;
  --color-snitap-joy-light: #f472b6;
  --color-snitap-leaf-mid: #16a34a;
  --color-text-base: #000000;
  --color-bg-highlight: #000000;
  --color-bg-base: #fafafa;

  --font-syne: "Syne", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@layer base {
  h1 {
    @apply text-[32px] md:text-[64px] leading-[125%] font-bold font-syne;
  }
  h2 {
    @apply text-[24px] md:text-[40px] leading-[120%] font-bold font-syne;
  }
  span {
    @apply text-[12px] md:text-[14px] leading-[150%] font-medium font-montserrat;
  }
}

@layer components {
  .button-label {
    @apply text-[14px] md:text-[16px] leading-[150%] font-medium font-montserrat;
  }
}