@import "tailwindcss";

@theme {
  --color-snitap-sun: #ffcd1e;
  --color-snitap-sky-mid: #06b6d4;
  --color-snitap-sky-light: #67e8f9;
  --color-snitap-joy-mid: #db2777;
  --color-snitap-joy-light: #f472b6;
  --color-snitap-leaf-mid: #16a34a;
  --color-text-base: #000000;
  --color-bg-highlight: #000000;
  --color-bg-base: #fafafa;

  --font-syne: "Syne", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;

  --animate-slide-words: slide-words 6s 3s infinite;
  --animate-slideIn: slideIn 3s ease both;
}

@layer base {
  h1 {
    @apply text-[32px] md:text-[64px] leading-[125%] font-bold font-syne;
  }
  h2 {
    @apply text-[24px] md:text-[40px] leading-[120%] font-bold font-syne;
  }
}

@layer components {
  .button-label {
    @apply text-[14px] md:text-[16px] leading-[150%] font-medium font-montserrat;
  }
  .text-span {
    @apply text-[12px] md:text-[14px] leading-[150%] font-medium font-montserrat;
  }
}

@keyframes slide-words {
  0%,
  22% {
    transform: translateY(0);
  }
  23% {
    transform: translateY(calc(-1lh - 15px));
  }
  25% {
    transform: translateY(calc(-1lh + 15px));
  }
  27% {
    transform: translateY(calc(-1lh - 8px));
  }
  29% {
    transform: translateY(calc(-1lh + 4px));
  }
  33%,
  55% {
    transform: translateY(-1lh);
  }
  56% {
    transform: translateY(calc(-2lh - 15px));
  }
  58% {
    transform: translateY(calc(-2lh + 15px));
  }
  60% {
    transform: translateY(calc(-2lh - 8px));
  }
  62% {
    transform: translateY(calc(-2lh + 4px));
  }
  66%,
  88% {
    transform: translateY(-2lh);
  }
  89% {
    transform: translateY(calc(-3lh - 15px));
  }
  91% {
    transform: translateY(calc(-3lh + 15px));
  }
  93% {
    transform: translateY(calc(-3lh - 8px));
  }
  95% {
    transform: translateY(calc(-3lh + 4px));
  }
  100% {
    transform: translateY(-3lh);
  }
}

@keyframes slideIn {
  50% {
    transform: translateX(-20px);
  }
  from {
    transform: translateX(35rem);
  }
  to {
    transform: translateX(0);
  }
}
